
.sound {
    width: 100%;
    color: #1d1d1f;
    background-color: #fbfbfd;
    height: 100vh;
    opacity: 0;

    @media screen and (max-width: 990px) {
        height: 100vh;
    }
}

.container {
    max-width: 980px;
    margin: 0 auto;
}

.content {
    max-width: 490px;
    width: 100%;
    padding: 200px 0;
    display: flex;
    align-items: center;
    flex-direction: column;

    @media screen and (max-width: 990px) {
        max-width: 100%;
      }
}

.title {
    color: #1d1d1f;
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 0;
}

.text {
    display: inline-block;
    color: transparent;
    background-image: linear-gradient(
      90deg,
      #1e3791 0%,
      #2948b1 40%,
      #3153c6 55%,
      #385fda 60%
    );
    -webkit-background-clip: text;
    background-clip: text;
    padding-top: 0.5px;
    margin-top: 16px;
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 18px;
}

.desc {
    font-size: 21px;
    font-weight: 400;
}

.list {
    display: flex;
    justify-content: center;
    margin-top: 24px;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    list-style: none;
}


.button {
    outline: none;
    border: none;
    background: #0071e3;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    font-size: 17px;
    font-weight: 400;
    min-width: 28px;
    padding: 8px 16px;
    border-radius: 980px;
    margin: 0 14px;
    border: none;
}

.link {
    text-decoration: none;
    color: #2997ff;
    font-size: 21px;
    font-weight: 400;
    margin: 0 14px;
    cursor: pointer;
}